@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #5cdb95;
}

body {
    margin: 0;
    background-image: url('/background.jpg');
    font-family: 'Ubuntu', sans-serif;
}

.center-title {
  margin-left: auto;
  margin-right: auto;
}


  

  
  